@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Cabin+Sketch');

/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* standart style */
html, body {
	font-size: 12px;
	letter-spacing: .1rem;
	height: 100%;
	text-align: center;
}
h1 {
	font-family: 'Cabin Sketch', cursive;
	font-size: 7rem;
}
h2 {
	font-family: 'Cabin Sketch', cursive;
	font-size: 5rem;
}
h3 {
	font-family: 'Cabin Sketch', cursive;
	font-size: 3rem;
}
p {
	font-family: 'Amatic SC', cursive;
	font-size: 3rem;
	line-height: 1.2;
}
a {
	font-family: 'Cabin Sketch', cursive;
	font-size: 3rem;
}

/* header style */
.header {
	background: url(../image/spots.png) center no-repeat;
	background-size: 100% 100%;
	padding: 4rem 6rem 30rem;
	position: relative;
}
/* possibility style */
.possibility {
	padding: 4rem 6rem 10rem;
}
/* joinUs style */
.joinUs {
	background: url(../image/social_top.png) top no-repeat,
	url(../image/social_bottom.png) bottom no-repeat,
	#F7F3ED;
	background-size: contain;
	padding: 10rem 6rem 10rem;
	position: relative;
}
/* testimonials style */
.testimonials {
	padding: 10rem 6rem 10rem;
}
/* about style */
.about {
	background: url(../image/about_top.png) top no-repeat #DADADA;
	background-size: contain;
	padding: 20rem 6rem 10rem;
}
.header_logo {
	text-align: left;
}
.header_info {
	padding: 15rem 0 0;
}
.header_info h1 {
	padding-bottom: 5rem;
	text-align: left;
}
.header_info__aqua {
	color: #97DAEA;
}
.header_info__orange {
	color: #F5A623;
}
.header_info__green {
	color: #7ED321;
}
.header_info p {
	color: #ffffff;
	text-align: justify;
}
.header_info a img {
	max-width: 250px;
	padding-top: 5rem;
}
.header_image {
	background: url(../image/phone.png) center center no-repeat;
	background-size: contain;
}

/* possibility style */
.possibility {
	padding: 4rem 6rem 10rem;
}
.possibility_item {
	padding: 5rem 2rem 0;	
}
.possibility_item img {
	max-height: 220px;
}
.possibility_item h2 {
	padding: 2rem 0 2rem;
}
.possibility_item p {
	text-align: justify;
}

/* joinUs style */
.joinUs {
	background: url(../image/social_top.png) top no-repeat,
	url(../image/social_bottom.png) bottom no-repeat,
	#F7F3ED;
	background-size: contain;
	padding: 10rem 6rem 10rem;
	position: relative;
}
.joinUs_info p {
	padding: 5rem 0 5rem;
	text-align: justify;
}
.joinUs_info a {
	color: #19A7E6;
}
.joinUs_images img {
	padding: 2rem 0;
}

/* testimonials style */
.testimonials {
	padding: 10rem 6rem 10rem;
}
.testimonials_header {
	padding-bottom: 5rem;
}
.testimonials_header h2 {
	padding-bottom: 2rem;
}
.testimonials_header p a {
	color: #19A7E6;
}
.testimonials_item__shadow {
	-webkit-box-shadow: 0 0 2rem rgba(0,0,0,.5);
	        box-shadow: 0 0 2rem rgba(0,0,0,.5);
	border-radius: 2rem;
	margin: 0 1rem;
	padding: 3rem 2rem;
}
.testimonials_item h3 {
	padding: 1rem 0 0;
}
.testimonials_item .stars {
	padding: 2rem 0 0;
}
.testimonials_item .fas.fa-star {
	color: #FFAE00;
	font-size: 2.5rem;
}
.testimonials_item p {
	padding: 2rem 0 0;
	text-align: justify;
}

/* about style */
.about {
	background: url(../image/about_top.png) top no-repeat #DADADA;
	background-size: contain;
	padding: 20rem 6rem 10rem;
}
.about_item {
	padding-bottom: 5rem;
}
.about_item__image {
	padding: 5rem 0;
}
.about_item__image img {
	max-width: 400px;
}
.about_item__info h2 {
	padding-bottom: 2rem;
}

/* footer style */
.footer {
	background: url(../image/footer-spots.svg) no-repeat,
	url(../image/footer-bg.png) no-repeat #DADADA;
	background-size: cover, 100% 100%;
	padding: 10rem 6rem 5rem;
	position: relative;
}
.footer_copyright p {
	color: #ffffff;
	font-size: 2rem;
	padding-top: 1rem;
}
.footer_appStore img {
	max-width: 250px;
}
.footer_soc img {
	padding: 2rem;
	width: 9rem;
}

/* floating pictures */
.floating_pictures {
	max-width: 9rem;
}
.header_plum {
	position: absolute;
	left: 25%;
	top: 10%;
}
.header_carrot1 {
	position: absolute;
	left: 50%;
	bottom: 57%;
}
.header_carrot2 {
	position: absolute;
	left: 25%;
	bottom: 20%;
}
.header_leaf1 {
	position: absolute;
	right: 40%;
	top: 20%;
}
.header_leaf2 {
	position: absolute;
	right: 10%;
	top: 5%;
}
.header_leaf3 {
	position: absolute;
	right: 10%;
	bottom: 20%;
}
.useful_leaf {
	position: absolute;
	left: 25%;
	top: 5%;
}
.footer_leaf1 {
	position: absolute;
	left: 65%;
	top: 30%;
}
.footer_leaf2 {
	position: absolute;
	right: 65%;
	top: 25%;
}

/* @media style */
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	html, body {
		font-size: 10px;
	}
	img {
		max-width: 90% !important;
	}

	/* footer style */
	.footer {
		padding: 10rem 6rem 5rem;
	}

	/* floating pictures */
	.floating_pictures {
		width: 8rem !important;
	}
	.header_plum {
		position: absolute;
		left: 15%;
		top: 10%;
	}
	.useful_leaf {
		position: absolute;
		left: 10%;
		top: 2%;
	}
	.footer_leaf1 {
		position: absolute;
		left: 90%;
		top: 55%;
	}
	.footer_leaf2 {
		position: absolute;
		left: 5%;
		top: 25%;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	html, body {
		font-size: 8px;
	}
	img {
		max-width: 80% !important;
	}
	/* testimonials style */
	.testimonials_item__shadow {
		margin: 2rem 1rem;
		padding: 3rem 2rem;
	}

	/* footer style */
	.footer {
		padding: 5rem 4rem 1rem;
	}
	.footer_copyright p {
		font-size: 2.5rem;
		padding-top: 1rem;
	}

	/* floating pictures */
	.floating_pictures {
		width: 7rem !important;
	}
	.header_plum {
		position: absolute;
		left: 25%;
		top: 20%;
	}
	.header_carrot2 {
		position: absolute;
		left: 10%;
		bottom: 20%;
	}
	.useful_leaf {
		position: absolute;
		left: 10%;
		top: 2%;
	}
	.footer_leaf1 {
		position: absolute;
		left: 80%;
		top: 60%;
	}
	.footer_leaf2 {
		position: absolute;
		left: 5%;
		top: 55%;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	html, body {
		font-size: 7px;
	}
	img {
		max-width: 70% !important;
	}
	/* testimonials style */
	.testimonials_item__shadow {
		margin: 2rem 1rem;
		padding: 3rem 2rem;
	}

	/* footer style */
	.footer {
		padding: 5rem 4rem 1rem;
	}
	.footer_copyright p {
		font-size: 2.5rem;
		padding-top: 1rem;
	}

	/* floating pictures */
	.floating_pictures {
		width: 6rem !important;
	}
	.header_plum {
		position: absolute;
		left: 25%;
		top: 20%;
	}
	.header_carrot2 {
		position: absolute;
		left: 10%;
		bottom: 20%;
	}
	.useful_leaf {
		position: absolute;
		left: 10%;
		top: 2%;
	}
	.footer_leaf1 {
		position: absolute;
		left: 80%;
		top: 60%;
	}
	.footer_leaf2 {
		position: absolute;
		left: 5%;
		top: 55%;
	}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
	html, body {
		font-size: 6px;
	}
	img {
		max-width: 60% !important;
	}

	/* header style */
	.header {
		padding: 4rem 4rem 10rem;
	}
	.header_info {
		padding: 5rem 0 0;
	}

	/* possibility style */
	.possibility {
		padding: 4rem 4rem 10rem;
	}

	/* joinUs style */
	.joinUs {
		padding: 10rem 4rem 10rem;
	}

	/* testimonials style */
	.testimonials {
		padding: 10rem 4rem 10rem;
	}

	/* about style */
	.about {
		padding: 10rem 4rem 10rem;
	}

	/* testimonials style */
	.testimonials_item__shadow {
		margin: 2rem 1rem;
		padding: 3rem 2rem;
	}

	/* footer style */
	.footer {
		padding: 5rem 4rem 1rem;
	}
	.footer_copyright p {
		font-size: 2.5rem;
		padding-top: 1rem;
	}

	/* floating pictures */
	.floating_pictures {
		width: 5rem !important;
	}
	.header_plum {
		position: absolute;
		left: 25%;
		top: 20%;
	}
	.header_carrot2 {
		position: absolute;
		left: 10%;
		bottom: 20%;
	}
	.useful_leaf {
		position: absolute;
		left: 10%;
		top: 2%;
	}
	.footer_leaf1 {
		position: absolute;
		left: 80%;
		top: 60%;
	}
	.footer_leaf2 {
		position: absolute;
		left: 5%;
		top: 55%;
	}

}